{% extends "detector/base.html" %}
{% block content %}

<!-- flashエラーを表示する -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="flash">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- 画像アップロード画面へのリンクを追加する -->
<div class="col-md-10 text-right dt-image-register-btn">
    <a href="{{ url_for('detector.upload_image', engine='rekognition') }}" class="btn btn-primary mr-2">AWSで検出</a>
    <a href="{{ url_for('detector.upload_image', engine='teachable') }}"
        class="btn btn-secondary">TeachableMachineで検出</a>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <div id="drop-area" class="border border-primary rounded p-5 text-center bg-light">
            <h5 class="text-muted">ここに画像をドラッグ＆ドロップ</h5>
            <p class="text-secondary">またはクリックして選択</p>
            <input type="file" id="fileElem" accept="image/*" style="display:none">
            <button class="btn btn-outline-primary">ファイルを選択</button>
        </div>
    </div>
</div>



{% endblock %}